:root {
    --nav-col-bg: #46ACC2;
    --nav-col-fg: #FFFFFF;
    --border-rad: 0.25em;
    --font-stack: Calibri, 'Open Sans', sans-serif;
    --pane-pad: 0.25em;
    --pane-margin: 0.25em;
    --temp-bg-red: lightcoral;
    --temp-bg-blue: lightblue;
}

* {
    font-family: Calibri, Roboto, 'Open Sans', sans-serif;
    /* border: black 1px solid; */
}

body {
    padding: 0;
    margin: 0;
}

#logo {
    margin: 25px;
    animation-name: slide-right;
    animation-duration: 2s;
}

@keyframes slide-right {
    from{
        margin-top: 100%;
    }
    to{
        margin-bottom: 0%;
    }
}

.pokeballs {
    margin-left: 20px;
    margin-right: 20px;
}

#header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    background-color: #10cde6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#homeButton {
    font-size: large;
    font-weight: bold;
}

div span {
    color: black;
    margin: 20px 15px 20px 15px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

div span, .button, .panel {
    transition-property: background-color;
    transition-duration: 0.3s;
}

div span:hover, .button:hover, .panel:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

span > a {
    color: inherit;
    text-decoration: none;
}

.navItemsRight {
    font-size: small;
}

.title {
    margin: 25px;
}

.button {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 0.25em;
    background-color: #10cde6;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: ". left middle right .";
}

#content > div {
    background-color: orange;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 0.25em;
}

#menuPane {
    grid-area: left;
    text-align: center;
}

#detailsPane {
    grid-area: middle;
    text-align: center;
}

.panel {
    background-color: #10cde6;
    margin: 25px;
    border-radius: 45px;
}

#classesAndMovesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "classes moves";
    background-color: #10cde6;
    border: red 5px solid;
    border-radius: 20px;
    margin-bottom: 15px;
}

#clickedPokemonClasses {
    grid-area: classes;
    margin: 5px;
}

#clickedPokemonMoves {
    grid-area: moves;
    margin: 5px;
}

#clickedPokemonMoves > p {
    font-size: small;
    margin: 25px;
}

#pokemonListDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

#pokemonOfTheDayPane {
    grid-area: right;
    text-align: center;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

@media (max-width: 1000px) {
    #content {
        grid-template-areas: "left left middle right right";
    }
}

@media (max-width: 900px) {
    #content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "right" "middle" "left";
    }
    .navItemsRight {
        display: none;
    }
    #navbar {
        justify-content: center;
    }
}